/*공통*/
#visual-voice.visual__top {
    background-image: url(../img/elements/voice/brand-visual-voice-d.png);
}

/*contents ------*/
.percent-view {
    border-radius: 1.56vw;
    position: relative;
    padding-bottom: 49.4%;
    overflow: hidden;
}
.percent-view.ms {
    padding-bottom: 40%;
}
.percent-view .percent-view__img,
.percent-view img {
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*our voice -----*/
.our-voice-slide .slide-wrap {
    overflow: hidden;
    border-radius: 1.5625vw;
}
.our-voice-slide .slide-wrap > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: #FFF;
    box-sizing: border-box;
}
.our-voice-slide .slide-wrap > ul > li span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10.41vw;
    height: 2.55vw;
    border-radius: 2.55vw;
    color: #fff;
    font-size: 0.93vw;
    font-weight: 400;
    margin-bottom: 2.39vw;
}
.our-voice-slide .slide-wrap > ul > li.slide-emotionally span {background-color: #FF1C1B;}
.our-voice-slide .slide-wrap > ul > li.slide-intelligent span {background-color: #262626;}
.our-voice-slide .slide-wrap > ul > li.slide-design span {background-color: #F6F3EB; color: #262626;}

.our-voice-slide .slide-wrap > ul > li h3 {
    font-weight: 400;
    line-height: 1;
    font-family: 'LG_EI_Headline';
}
.our-voice-slide .slide-wrap > ul > li h3 b {
    font-family: inherit;
    color: #FF1C1B;
    font-weight: 500;
}
.our-voice-slide .slide-wrap > ul > li h3 b.exp {
    display: block;
}
.our-voice-slide .slide-wrap > ul > li p {
    color: #4A4946;
    line-height: 1.3;
}

/*voice*/
.our-voice-slide .slide-wrap.voice > ul {
    padding: 0 5.98vw;
}
.our-voice-slide .slide-wrap.voice > ul > li {
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 9.13vw 0;
}
.our-voice-slide .slide-wrap.voice > ul > li h3 {
    font-size: 2.91vw;
}
.our-voice-slide .slide-wrap.voice > ul > li p {
    font-size: 1.14vw;
    margin-top: 1.87vw;
}

/*flexes*/
.our-voice-slide .slide-wrap.flexes > ul {
    padding: 0 3.125vw;
    gap: 20px;
}
.our-voice-slide .slide-wrap.flexes > ul > li {
    padding: 5.98vw 0;
    border-radius: 1.5625vw;
}
.our-voice-slide .slide-wrap.flexes > ul > li picture {border-radius: inherit;}
.our-voice-slide .slide-wrap.flexes > ul > li img {
    width: 100%;
    max-width: 100%;
}


.our-voice-slide .slide-contorller {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 16px;
}
.our-voice-slide .slide-contorller button {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffffcc;
    border: 1px solid #4a49464d;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.our-voice-slide .slide-contorller button::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background: no-repeat center;
    background-size: contain;
}
.our-voice-slide .slide-contorller button.prev::before {
    background-image: url(../img/icon-swiper-button-arrow.svg);
    transform: translate(-50%, -50%) rotate(180deg);
}
.our-voice-slide .slide-contorller button.next::before {background-image: url(../img/icon-swiper-button-arrow.svg);}


/*Bringing it to life*/
.bring-it-to-life {
    position: relative;
}
.index-text {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: 40px;
    top: 40px;
    z-index: 2;
    height: 50px;
    padding: 0 26px;
    font-size: 18px;
    color: #fff;
}
.index-text::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 70px;
    border-radius: 70px;
    backdrop-filter: blur(27px);
    -webkit-backdrop-filter: blur(27px);
    background-color: #00000080;
    z-index: -1;
}

.bring-it-to-life__slide {
    overflow: hidden;
    border-radius: 1.56vw;
}

.bring-it-to-life__slide__controller {
    position: absolute;
    z-index: 2;
    right: 40px;
    bottom: 40px;
    display: flex;
    gap: 6px;
}
.bring-it-to-life__slide__controller > button {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #CBC8C24D;
    -webkit-backdrop-filter: blur(27px);
    background: no-repeat center url(../../mocks/BS0007/ico_arrow_wt.svg);
    background-size: 24px auto;
    background-color: #00000099;
    backdrop-filter: blur(27px);
    padding: 0;
    box-sizing: border-box;
}
.bring-it-to-life__slide__controller .prev-btn {
    transform: rotate(180deg);
}

.text-element {
    border-radius: 1.5625vw;
    overflow: hidden;
}
.text-element picture {
    border-radius: inherit;
}

@media (max-width: 1500px) {


}
/* Tablet */
@media (max-width: 1024px) {
    /*our voice -----*/
    .our-voice-slide .slide-wrap {
        border-radius: 20px;
    }
    .our-voice-slide .slide-wrap > ul > li span {
        width: 129px;
        height: 34px;
        font-size: 15px;
        margin-bottom: 32px;
    }

    /*voice*/
    .our-voice-slide .slide-wrap.voice > ul {
        padding: 0 10px;
    }
    .our-voice-slide .slide-wrap.voice > ul > li {
        padding: 56px 0;
    }
    .our-voice-slide .slide-wrap.voice > ul > li h3 {
        font-size: 30px;
    }
    .our-voice-slide .slide-wrap.voice > ul > li p {
        font-size: 15px;
        margin-top: 24px;
    }
    /*flexes*/
    .our-voice-slide .slide-wrap.flexes > ul {
        padding: 0 14px;
        gap: 5px;
    }
    .our-voice-slide .slide-wrap.flexes > ul > li {
        padding: 78px 0 56px;
    }

}

/* Mobile */
@media (max-width: 768px) {
    
    #visual-voice.visual__top {
        background-image: url(../img/elements/voice/brand-visual-voice-m.png);
    }


    /*our voice -----*/
    .our-voice-slide .slide-wrap {
        border-radius: 10px;
    }
    .our-voice-slide .slide-wrap > ul > li span {
        width: 36.26vw;
        height: 11.2vw;
        border-radius: 11.2vw;
        font-size: 3.733vw;
        margin-bottom: 8vw;
    }

    /*voice*/
    .our-voice-slide .slide-wrap.voice > ul {
        padding: 0;
    }
    .our-voice-slide .slide-wrap.voice > ul > li {
        padding: 14.66vw 7.2vw;
    }

    .our-voice-slide .slide-wrap.voice > ul > li h3 {
        font-size: 10.13vw;
    }
    .our-voice-slide .slide-wrap.voice > ul > li p {
        font-size: 4.8vw;
        margin-top: 10.13vw;
    }
    .our-voice-slide .slide-contorller {
        display: flex;
    }

    /*flexes*/
    .our-voice-slide .slide-wrap.flexes > ul {
        padding: 0;
        gap: 0;
        background-color: transparent;
    }
    .our-voice-slide .slide-wrap.flexes > ul > li {
        padding: 0;
        border-radius: 10px;
    }


    .text-element {
        border-radius: 10px;
    }
    
}

/* 4K */
@media (min-width: 2560px) {


    /*our voice -----*/
    .our-voice-slide .slide-wrap {
        overflow: hidden;
        border-radius: 30px;
    }
    .our-voice-slide .slide-wrap > ul > li span {
        width: 200px;
        height: 49px;
        border-radius: 49px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 46px;
    }

    .our-voice-slide .slide-wrap.voice > ul {
        padding: 0 115px;
    }
    .our-voice-slide .slide-wrap.voice > ul > li {
        padding: 180px 80px;
    }
    .our-voice-slide .slide-wrap.voice > ul > li h3 {
        font-size: 56px;
    }
    .our-voice-slide .slide-wrap.voice > ul > li h3 b {
        font-weight: 500;
    }
    .our-voice-slide .slide-wrap.voice > ul > li p {
        font-size: 22px;
        margin-top: 36px;
    }
    /*flexes*/
    .our-voice-slide .slide-wrap.flexes > ul {
        padding: 0 60px;
        gap: 20px;
    }
    .our-voice-slide .slide-wrap.flexes > ul > li {
        padding: 115px 0;
        border-radius: 30px;
    }

    .text-element {
        border-radius: 30px;
    }
}